.cartSide {
  width: 17vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.2rem;
  background-color: #17191c;
  overflow-y: auto;
  position: absolute;
  left: 117vw;
  /* transition: position 0.5s linear; */
}
.animate {
  transition: left 0.5s linear;
  left: 83vw;
  /* position: relative; */
}
.cartSide > button {
  margin-top: 4px;
  width: 80%;
}
.cartSide > h3 {
  margin-top: 25px;
}
.cartSide h2 {
  height: max-content;
  margin-bottom: 5px;
}
.item {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #36383a;
  align-items: center;
  gap: 5%;
  margin-bottom: 5px;
}
.item img {
  height: 80%;
}
.middle {
  display: grid;
}
.item button {
  margin: 0 5px 0 auto;
}
