.container {
  display: grid;
  grid-template-rows: auto 1fr;
}
.carousel {
  grid-row: span 5;
  position: relative;
}
.carousel > span {
  position: absolute;
  height: 50%;
  width: max-content;
  display: flex;
  align-items: center;
  top: 25%;
  cursor: pointer;
  z-index: 10;
}
.carousel > span:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.carousel > span:first-of-type {
  left: 0;
}
.carousel > span:last-of-type {
  right: 0;
}
.gameInfo {
  background-color: #1a1b1e;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto 1fr 75px;
  grid-template-columns: 70% auto;
  grid-auto-flow: column;
  column-gap: 1%;
  row-gap: 10px;
}
.gameInfo > * {
  height: max-content;
}
.rating,
.release {
  color: grey;
  display: flex;
  align-items: center;
  gap: 10px;
}
.release {
  gap: 18px;
}
.tags {
  color: grey;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  height: max-content;
  align-self: center;
  margin-bottom: 10px;
}
.gameInfo > p {
  font-size: 0.9em;
}
.owner {
  height: max-content;
  align-self: center;
  font-size: 1.4rem;
  margin-left: 5px;
  margin-bottom: 10px;
}
