nav {
  background-color: #4d4e51;
  display: flex;
  justify-content: center;
}
.content {
  max-width: 75rem;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.homeLink {
  height: 40%;
  margin-right: 1rem;
}
.link > * {
  height: 100%;
}
.signIn,
.user,
.cart {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 24px;
}
.userControls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 1rem;
}
.user {
  height: 24px;
  display: flex;
  align-items: center;
}
.user span:last-child {
  font-size: 18px;
}
.userControls a {
  height: 24px;
}
