nav {
  background-color: #4d4e51;
  display: flex;
  justify-content: center;
}
.content {
  max-width: 90rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5rem;
  gap: 1rem;
}
.homeLink {
  height: 40%;
  margin-right: 1rem;
}
.link > * {
  height: 100%;
}
.signIn,
.user,
.cart {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 24px;
}

.userControls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 1rem;
}
.user {
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
}
.user > img {
  height: 100%;
  border-radius: 50%;
}
.user span:last-of-type {
  font-size: 18px;
}
.userControls a {
  height: 24px;
}
.userDropdown {
  position: absolute;
  top: 40px;
  right: -10px;
  width: 230px;
  height: 280px;
  background-color: rgb(29, 29, 29);
  box-shadow: 0 0 4px black;
  border-radius: 1rem;
}

.userDropdown::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -8px;
  right: 20px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-bottom: 8px solid rgb(29, 29, 29);
}
